@import url(reset.css);
 
/* i-block */
.in-container {
  width: 1200px;
  height: 1200px;
  background: rgb(83, 200, 83);
  margin: 0 auto;
  font-size: 0;
}

.first {
  background: rgb(0, 208, 255);
}

.first div {
  background: color;
  outline: 2px solid red;
  width: 400px;
  display: inline-block;
  font-size: 15px;
  height: 400px;
}


.second {
  background: rgb(204, 255, 0);
  outline: 2px solid red;
  font-size: 0;
}

.second div {
  outline: 2px solid red;
  font-size: 15px;
}

.second_fist {
  display: inline-block;
  width: 800px;

}

.second_two {
  display: inline-block;
  font-size: 20px;
  width: 400px;
}

.second_fist div {
  height: 200px;
}

.second_two div {
  height: 133.33px;
}

.three div {
  background: orange;
  outline: 2px solid red;
  font-size: 0;
}

.three_one {
  height: 400px;
  width: 400px;
  display: inline-block;
  font-size: 15px;
}

.three_two {
  height: 400px;
  width: 800px;
  display: inline-block;
}

.three_top {
  height: 200px;
  width: 800px;
}

.three_bot_left {
  height: 200px;
  width: 400px;
  display: inline-block;
}

.three_bot_right {
  display: inline-block;
}

.three_bot_right div {
  font-size: 20px;
  height: 100px;
  width: 400px;
}


/* !SITE */

 .header {
  padding: 30px 0 12px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-container {
  font-size: 0;
  border-bottom: 1px solid rgba(70, 163, 88, .1);
}

.header-logo, .header-list li, .header-list, .header-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.header-logo {
  width: 150px;
}

.header-list {
  margin-top: 8px;
  width: 950px;
  text-align: center;
}

.header-list li {
  padding-bottom: 18px;
}

.header-list li.active {
  font-weight: 900;
  border-bottom: 4px solid #46A358;
}

.header-list li+li {
  margin-left: 50px;
}

.header-list li a {
  color: black;
  text-decoration: none;
}

.header-btn {
  width: 100px;
  padding: 8px 17px 7px;
  background: #46A358;
  border-radius: 6px;
  color: white;
  text-decoration: none;
} 

.header-btn img {
  vertical-align: middle;
  margin-right: 1px;
}

.main {
  width: 1200px;
  background: #F5F5F580;
  margin: 0 auto;
  font-size: 0;
}

.main-container div {
  display: inline-block;
}

.block-left {
  font-size: 15px;
  width: 700px;
  height: 450px;
}

.main-img {
  width: 500px;
  height: 450px;
}

.h1 {
  width: 205px;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  margin: 68px 0 0 43px;
  color: #3D3D3D;
  text-transform: uppercase;
}

.paragraph {
  width: 530px;
  height: 140px;
  font-weight: 900;
  font-size: 70px;
  margin: 7px 0 0 40px;
  color: #3D3D3D;
}

.paragraph-2 {
  width: 557px;
  height: 45px;
  margin: 5px 0 0 43px;
  color: #727272;
}

.button {
  width: 140px;
  height: 40px;
  background: #46A358;
  color: #fff;
  border-radius: 6px;
  margin: 44px 0 0 43px;
}

.paragraph span {
  color: #46A358;
}